.navbar {
  background: #2563eb;
  color: white;
  padding: 16px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}