<h2>Student Information</h2>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label>Student Name</label>
  <input type="text" formControlName="name">

  <div
    class="error"
    *ngIf="profileForm.get('name')?.touched &&
           profileForm.get('name')?.invalid">
    Name is required
  </div>

  <label>College Email</label>
  <input type="email" formControlName="email">

  <div
    class="error"
    *ngIf="profileForm.get('email')?.touched &&
           profileForm.get('email')?.invalid">
    Enter a valid email
  </div>

  <label>Current Semester</label>
  <input type="number" formControlName="semester">

  <div
    class="error"
    *ngIf="profileForm.get('semester')?.touched &&
           profileForm.get('semester')?.invalid">
    Semester must be between 1 and 8
  </div>

  <button
    type="submit"
    [disabled]="profileForm.invalid">
    Save Profile
  </button>

</form>